# Dataset Overview (for Amazon Reviews, Essays)

In [4]:
import pandas as pd
import numpy as np
import re

reviews_parent_dir = 'datasets/reviews/'
essays_parent_dir = 'datasets/asap-aes/'

def load_reviews(files=None, nrows_per_type=None):
    if not files:
        files = [
            'books-5core.json',
            'cellphones_and_accessories-5core.json',
            'office_products-5core.json',
            'tools_and_home_improvement-5core.json'
        ]
    dfs = []
    for f in files:
        df = pd.read_json(reviews_parent_dir + f, lines=True, nrows=nrows_per_type)
        df['type'] = f.split('-')[0]
        dfs.append(df)
    return pd.concat(dfs).reset_index()

def load_essays(train=True, valid=True, test=True):
    files = []
    if train: files.append('train_set.json')
    if valid: files.append('valid_set.json')
    if test:  files.append('test_set.json')
    return (pd.read_json(essays_parent_dir + f, lines=False) for f in files)

# Amazon Reviews

In [2]:
reviews_data = load_reviews(nrows_per_type=1000)

In [3]:
reviews_data.head()

,index,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image,type
0,0,5,67.0,True,"09 18, 1999",AAP7PPBU72QFM,0151004714,{'Format:': ' Hardcover'},D. C. Carrad,This is the best novel I have read in 2 or 3 y...,A star is born,937612800,NaN,books
1,1,3,5.0,True,"10 23, 2013",A2E168DTVGE6SV,0151004714,{'Format:': ' Kindle Edition'},Evy,"Pages and pages of introspection, in the style...",A stream of consciousness novel,1382486400,NaN,books
2,2,5,4.0,False,"09 2, 2008",A1ER5AYS3FQ9O3,0151004714,{'Format:': ' Paperback'},Kcorn,This is the kind of novel to read when you hav...,I'm a huge fan of the author and this one did ...,1220313600,NaN,books
3,3,5,13.0,False,"09 4, 2000",A1T17LMQABMBN5,0151004714,{'Format:': ' Hardcover'},Caf Girl Writes,What gorgeous language! What an incredible wri...,The most beautiful book I have ever read!,968025600,NaN,books
4,4,3,8.0,True,"02 4, 2000",A3QHJ0FXK33OBE,0151004714,{'Format:': ' Hardcover'},W. Shane Schmidt,I was taken in by reviews that compared this b...,A dissenting view--In part.,949622400,NaN,books

### Sample Reviews

In [5]:
def show_reviews(nsample=1):
    for group in reviews_data.groupby('type'):
        group = group[1].reset_index()
        print('---------------------------------- ({t}) --------------------------------'.format(t=group['type'][0]))
        for _, row in group.sample(n=nsample).iterrows():
            print('\n(Score: {s})  {r}\n'.format(s=row['overall'], r=row['reviewText']))
            print("---------------------------------------------------------------------------")

show_reviews(2)

---------------------------------- (books) --------------------------------

(Score: 5)  Well constructed wall mount for TV sets up to 37 inches. The mounting  plate has numerous holes for varius sets. Plenty of extra hardware provided. Price was about 1/8th of what it would cost on the open market. I recommend it highly.

---------------------------------------------------------------------------

(Score: 5)  Purchased for my sister to hang her TV on a wall and she and her boyfriend reported back to me that mount works great with the 42" Vizio TV she got for Christmas and was up securely in no time.  I looked around in the retail stores and found that this mount was of similar quality at a much lower price.  What can I say, it does what it is supposed to do, was easy to setup, and is of good value.

---------------------------------------------------------------------------
---------------------------------- (cellphones_and_accessories) --------------------------------

(Score: 5)  My brother is THRILLED with this and insists on 5 stars, which I'm also happy to give.
He has an old S5 with a bad battery, but instead of buying him a new regular battery, I got this one instead, as a surprise.
This just happened to be about two weeks before Pokemon Go was released, so clearly he needs it more than ever now ;)

It does add bulk to the phone, as expected, but the snap on back case gives it a nice smooth feel and look, still. With the battery capacity being already nearly 3x more than a NEW original S5 battery, it feels hardly thicker and it's a great trade-off. It's not the thinnest, obviously, but I'm really surprised it feels nice and not as bulky as I imagined.

The three pieces: the battery itself, the plastic battery cover piece (replaces your current back piece), and the optional rubbery-feel case part. My brother uses it without the case, so the back is smooth. He stopped using his previous case, since obviously it won't fit over the new huge battery, so that's one downside.

We haven't calculated exact length it lasts, so I'm not going to give any technical info here,but as many times as he's gone "HA! Your battery is at 45% and mine is STILL at 85%!"... yes, we're (he's) happy with it.

The only thing I don't love is that it makes it difficult to use the pulse oximeter on the back of the phone if you have slightly long nails, because of the angle. It'd also be cool if this came in a different colours, or came with a few different cases (since it makes it impossible to use other third-party cases). Otherwise, it's really great and I'm looking to buy one for my Note 4, now.

I bought this discounted in return for my opinions and review after use.

---------------------------------------------------------------------------

(Score: 5)  Before buying this headset, I tried on practically every other headset on the market.  None of them would stay on my ear.  I have a small head and small ears, and I wanted something low profile that would stay on while I was walking.  This headset is nice and snug and works great.  I highly recommend it to anyone who has trouble finding headsets that fit.

---------------------------------------------------------------------------
---------------------------------- (office_products) --------------------------------

(Score: 5)  I purchased this for my classroom. This is my second year using it. I laminated it just to ensure its durability. I don't have any real complaints.

---------------------------------------------------------------------------

(Score: 5)  This is a great tool for my classroom.  Got it laminated so it will last for years to come.  I only wish it came laminated.

---------------------------------------------------------------------------
---------------------------------- (tools_and_home_improvement) --------------------------------

(Score: 5)  Was a little skeptical at first . a flow heater is a different creature than a tank but after a few lessons on how to get hot water I had to turn the beast down !  If it lasts with out service problems this will be the best buy of the year on Amazon . congrats to the designer

---------------------------------------------------------------------------

(Score: 5)  I love this little light!  I like to play video games in a darkened room, so I can see all the little details on the screen, even in dark backgrounds.  I also like to use a guidebook.  With this little light, I can illuminate the guidebook well enough to see and use it, but there is very little extra light in the room to spoil the video game experience.  I like this light so much I bought a couple of extras for Xmas gifts, and the recipients love them like I do.  5 stars!

---------------------------------------------------------------------------

### Summary Statistics

In [6]:
for dataset in ['all', *reviews_data['type'].unique()]:
    data = reviews_data if (dataset=='all') else reviews_data[reviews_data['type']==dataset]
    
    word_tokens = set()  # lowercase only
    char_tokens = set()  # lowercase only
    sum_rev_len = 0
    for text in data['reviewText']:
        if type(text) == str:
            sum_rev_len += len(text)
            for token in re.split(r'\s{1,}', text):  word_tokens.add(token)
            for c in text:  char_tokens.add(c)
    print("------------- ({s}) --------------".format(s=dataset))
    print("# Reviews:  ", len(data))
    print("# Unique words:  ", len(word_tokens))
    print("# Unique characters:  ", len(char_tokens))
    print("Average Review Length:  ", sum_rev_len / len(data), "chars")
    print()
print()
print("------------------- Score Summaries -------------------")
print(reviews_data.groupby('type')[['overall', 'vote']].mean())
print()
print("Possible values for 'overall':\t", sorted(reviews_data['overall'].unique()))
print("Range of values for 'vote':\t[{mn}, {mx}]".format(mn=reviews_data['vote'].min(), mx=reviews_data['vote'].max()))

------------- (all) --------------
# Reviews:   4000
# Unique words:   22045
# Unique characters:   92
Average Review Length:   296.8255 chars

------------- (books) --------------
# Reviews:   1000
# Unique words:   8777
# Unique characters:   90
Average Review Length:   311.685 chars

------------- (cellphones_and_accessories) --------------
# Reviews:   1000
# Unique words:   8921
# Unique characters:   91
Average Review Length:   303.886 chars

------------- (office_products) --------------
# Reviews:   1000
# Unique words:   8803
# Unique characters:   91
Average Review Length:   286.033 chars

------------- (tools_and_home_improvement) --------------
# Reviews:   1000
# Unique words:   6721
# Unique characters:   89
Average Review Length:   285.698 chars


------------------- Score Summaries -------------------
                            overall       vote
type
books                         4.421  10.009615
cellphones_and_accessories    3.946   7.889571
office_products               4.554   9.050000
tools_and_home_improvement    4.487   8.469231

Possible values for 'overall':	 [1, 2, 3, 4, 5]
Range of values for 'vote':	[2.0, 202.0]

# Essays

This dataset contains 8 different essay sets, each associated with a particular prompt.
* Personally identifying information has been replaced with NER (Named Entity Recognition) tags [Ex: "Person", "Organization", etc.]

## Loading (and cleaning) Data

* All of the score columns were of datatype ('object'), and missing values were ('').

 **Steps for Cleaning Data:**
 
   1) Replace '' with nans (NULLs)
 
   2) Convert score columns to int64

In [5]:
essays_train, essays_valid, essays_test = load_essays()  # (train, valid, test)

for df in [essays_train, essays_valid, essays_test]:
    df.replace('', np.nan, inplace=True)
    for col in (c for c in df.columns if c not in ['essay_id', 'essay_set', 'essay']):
        df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

### Train:

In [10]:
essays_train.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4,4,<NA>,8,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,<NA>,9,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,<NA>,7,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,<NA>,10,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,5,1,"Dear @LOCATION1, I know having computers has a...",4,4,<NA>,8,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

### Valid:

In [10]:
essays_valid.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,

### Test:

In [11]:
essays_test.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,2383,1.0,I believe that computers have a positive effec...,2383.0,
1,2384,1.0,"Dear @CAPS1, I know some problems have came up...",2384.0,
2,2385,1.0,"Dear to whom it @MONTH1 concern, Computers are...",2385.0,
3,2386,1.0,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386.0,
4,2387,1.0,"Dear Local newspaper, I think that people have...",2387.0,

### Ratings Overview (Train)

In [95]:
score_columns = [c for c in essays_train.columns if c not in ['essay_id', 'essay_set', 'essay']]
essays_train[score_columns].describe()

,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,rater1_trait2,rater1_trait3,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
count,12977.000000,12977.000000,128.000000,12977.000000,1800.000000,1800.000000,1800.000000,2292.000000,2292.000000,2292.000000,...,2292.000000,2292.000000,723.000000,723.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,4.126840,4.137089,37.828125,6.799723,3.333889,3.330556,3.333889,2.444154,2.557592,2.606457,...,2.635689,2.710297,3.777317,3.589212,3.945312,3.890625,4.078125,3.992188,3.843750,3.617188
std,4.212537,4.264320,5.240829,8.970558,0.729103,0.726807,0.729103,1.211730,1.061076,1.098196,...,1.142566,1.045795,0.689401,0.693256,0.643668,0.630390,0.622535,0.509687,0.538845,0.603417
min,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,2.000000,2.000000,36.000000,2.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000
50%,3.000000,3.000000,40.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,...,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,4.000000,4.000000,40.000000,8.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,...,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,30.000000,30.000000,50.000000,60.000000,4.000000,4.000000,4.000000,6.000000,6.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,5.000000

### Ratings Overview (by Group)

In [53]:
score_columns = [c for c in essays_train.columns if c not in ['essay_id', 'essay']]
metrics = ['count', 'mean', 'min', 'max']
op_dict = {
    'count': lambda x: x.astype(int),
    'min': lambda x: x.astype(int),
    'max': lambda x: x.astype(int),
    'mean': lambda x: np.round_(x, 2)
}
def reformat(x, metric):
    x = np.array(x)
    return "None" if pd.isnull(x) else op_dict[metric](x)

print("\t\t\tSet 1\t Set 2\t Set 3\t Set 4\t Set 5\t Set 6\t Set 7\t Set 8")
print("\t\t\t---------------------------------------------------------------")
current_column = None
for entry in essays_train[score_columns].groupby('essay_set').describe():
    if current_column != entry[0]:
        print()
        current_column = entry[0]
    if entry[1] in metrics:
        score_params = {'s'+str(set_id): reformat(df[entry][set_id], entry[1]) for set_id in range(1, 9)}
        print(("{t} ({m}):\t{s1} \t{s2} \t{s3} \t{s4} \t{s5} \t{s6} \t{s7} \t{s8}").format(
            t=entry[0], m=entry[1], **score_params))
        
# NOTE:  'count' is how many non-NULL rows
        
# -------------------- OBSERVATIONS --------------------
#
# -  All Sets Have:   'rater1_domain1', 'rater2_domain1', and 'domain1_score'
# -  Set 8 has all scores except in domain 2
#
#    Given that only these three columns ('rater1_domain1', 'rater2_domain1', 'domain1_score') have values in every
#    set category, it's best to choose the column relating to the overall score among these three ('domain1_score')
#    as the score we'll use for our label.

			Set 1	 Set 2	 Set 3	 Set 4	 Set 5	 Set 6	 Set 7	 Set 8
			---------------------------------------------------------------

rater1_domain1 (count):	1783 	1800 	1726 	1771 	1805 	1800 	1569 	723
rater1_domain1 (mean):	4.26 	3.42 	1.74 	1.32 	2.22 	2.56 	8.02 	18.34
rater1_domain1 (min):	1 	1 	0 	0 	0 	0 	0 	5
rater1_domain1 (max):	6 	6 	3 	3 	4 	4 	12 	30

rater2_domain1 (count):	1783 	1800 	1726 	1771 	1805 	1800 	1569 	723
rater2_domain1 (mean):	4.27 	3.44 	1.7 	1.32 	2.22 	2.55 	8.04 	18.56
rater2_domain1 (min):	1 	1 	0 	0 	0 	0 	0 	5
rater2_domain1 (max):	6 	6 	3 	3 	4 	4 	12 	30

rater3_domain1 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_domain1 (mean):	None 	None 	None 	None 	None 	None 	None 	37.83
rater3_domain1 (min):	None 	None 	None 	None 	None 	None 	None 	20
rater3_domain1 (max):	None 	None 	None 	None 	None 	None 	None 	50

domain1_score (count):	1783 	1800 	1726 	1771 	1805 	1800 	1569 	723
domain1_score (mean):	8.53 	3.42 	1.85 	1.43 	2.41 	2.72 	16.06 	36.95
domain1_score (min):	2 	1 	0 	0 	0 	0 	2 	10
domain1_score (max):	12 	6 	3 	3 	4 	4 	24 	60

rater1_domain2 (count):	0 	1800 	0 	0 	0 	0 	0 	0
rater1_domain2 (mean):	None 	3.33 	None 	None 	None 	None 	None 	None
rater1_domain2 (min):	None 	1 	None 	None 	None 	None 	None 	None
rater1_domain2 (max):	None 	4 	None 	None 	None 	None 	None 	None

rater2_domain2 (count):	0 	1800 	0 	0 	0 	0 	0 	0
rater2_domain2 (mean):	None 	3.33 	None 	None 	None 	None 	None 	None
rater2_domain2 (min):	None 	1 	None 	None 	None 	None 	None 	None
rater2_domain2 (max):	None 	4 	None 	None 	None 	None 	None 	None

domain2_score (count):	0 	1800 	0 	0 	0 	0 	0 	0
domain2_score (mean):	None 	3.33 	None 	None 	None 	None 	None 	None
domain2_score (min):	None 	1 	None 	None 	None 	None 	None 	None
domain2_score (max):	None 	4 	None 	None 	None 	None 	None 	None

rater1_trait1 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait1 (mean):	None 	None 	None 	None 	None 	None 	1.84 	3.76
rater1_trait1 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait1 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait2 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait2 (mean):	None 	None 	None 	None 	None 	None 	2.02 	3.72
rater1_trait2 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait2 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait3 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait3 (mean):	None 	None 	None 	None 	None 	None 	1.99 	3.94
rater1_trait3 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait3 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait4 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait4 (mean):	None 	None 	None 	None 	None 	None 	2.17 	3.86
rater1_trait4 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait4 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait5 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater1_trait5 (mean):	None 	None 	None 	None 	None 	None 	None 	3.73
rater1_trait5 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater1_trait5 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater1_trait6 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater1_trait6 (mean):	None 	None 	None 	None 	None 	None 	None 	3.56
rater1_trait6 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater1_trait6 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater2_trait1 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait1 (mean):	None 	None 	None 	None 	None 	None 	1.85 	3.83
rater2_trait1 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait1 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait2 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait2 (mean):	None 	None 	None 	None 	None 	None 	2.03 	3.77
rater2_trait2 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait2 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait3 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait3 (mean):	None 	None 	None 	None 	None 	None 	2.0 	4.02
rater2_trait3 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait3 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait4 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait4 (mean):	None 	None 	None 	None 	None 	None 	2.17 	3.89
rater2_trait4 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait4 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait5 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater2_trait5 (mean):	None 	None 	None 	None 	None 	None 	None 	3.78
rater2_trait5 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater2_trait5 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater2_trait6 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater2_trait6 (mean):	None 	None 	None 	None 	None 	None 	None 	3.59
rater2_trait6 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater2_trait6 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait1 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait1 (mean):	None 	None 	None 	None 	None 	None 	None 	3.95
rater3_trait1 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait1 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait2 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait2 (mean):	None 	None 	None 	None 	None 	None 	None 	3.89
rater3_trait2 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait2 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait3 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait3 (mean):	None 	None 	None 	None 	None 	None 	None 	4.08
rater3_trait3 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait3 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait4 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait4 (mean):	None 	None 	None 	None 	None 	None 	None 	3.99
rater3_trait4 (min):	None 	None 	None 	None 	None 	None 	None 	3
rater3_trait4 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait5 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait5 (mean):	None 	None 	None 	None 	None 	None 	None 	3.84
rater3_trait5 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait5 (max):	None 	None 	None 	None 	None 	None 	None 	5

rater3_trait6 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait6 (mean):	None 	None 	None 	None 	None 	None 	None 	3.62
rater3_trait6 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait6 (max):	None 	None 	None 	None 	None 	None 	None 	5

### Sample Essays:

In [12]:
def show_essays(nsample=1, exclude=None):
    if not exclude: exclude = []
    for group in essays_train.groupby('essay_set'):
        group = group[1].reset_index()
        if not group['essay_set'][0] in exclude:
            print('---------------------------------- (Set {t}) --------------------------------'.format(t=group['essay_set'][0]))
            for _, row in group.sample(n=nsample).iterrows():
                score = row['domain1_score']
                print('\n(Score: {s})  {r}\n'.format(s=score, r=row['essay']))
                print("---------------------------------------------------------------------------")
                
show_essays()

---------------------------------- (Set 1) --------------------------------

(Score: 8)  Guess what! Do you like to use computers well I do and I think it benfits society for a couple of reasons. It is good to use to get information on things, to meet people and just to expose the internet and if you keep on reading @CAPS1 ill tell you why think that. One reason I think it benfits society because how in this lifetime you need to know what is going on in the world. So instead of you always watching the news or reading newspaper. You could go on the internet and see what is going on from the internet. Thats why I think it benfits society today. A second reason is haveing a computers poeple get to talk over the web and meet new poeple. Being able to talk online to people like faimly and your friends. That you havent seen or heard from in a long time. And you don't have thier number you will tot alk to them during they are on the internet. A third reason is haveing a computer and is always on it. You can explore the internet and get facts on poeple, things, and places that you never knew about and from you going on the internet you learn more things that tou never knew before. A fourth reason is by haveing a computer you can go to school on the internet. And you dont have to leave your house because you can go to school from there and by doing that most poeple could stay out of trouble because there not leavinf there house. Unfortunally I ahve to end this letter but has mush reasons and details I gave ou on why I think haveing a computer is a good idea. You will agree with me and why I think that.

---------------------------------------------------------------------------
---------------------------------- (Set 2) --------------------------------

(Score: 6)  What if someone told you that you couldn't wear a yellow shirt because it was offensive? What if they said you couldn't look a certain way because you might offend somebody? Not just one person or group of people have the right to decide what is suitable and what is not. There are so many different religions and traditions throughout the @LOCATION2 it would be completely rediculous to set one standard for all people. If @CAPS1 aren't restricted when it comes to apperal, groceries, or automobiles, why should there be limits in the libraries? Libraries should not be censored because not only would censorship limit the resoursfulness of the libraries and smother the knowledge intake across the @LOCATION2, but it would also pose a threat to our future.      When one takes a trip to the library, one would expect to find a book, magazine, and/or movie on just about anything. It would be extremely frustrating to find that a library, which is supposed to contain content on nearly every subject, does not have what your looking for. Say a book on the asassination of @PERSON1 is what you fancy, so you ask the librarian where you could find it. You would be dissapointed if she says they don't carry assassination books because they are too vulgar for young children. This could become very troubling and would limit the library's resources.           Not only would censorship in libraries limit the content but it would also limit learning in the @LOCATION2 @CAPS2 are people supposed to stay informed if they are being sheilded from knowledge? Many people that do not have computers depend on the library. If they cannot get what they need at the library where would they go? The libraries would lose business and funding if they did not supply library-goers with the content which they desire. People would take their business elsewhere. Protests @MONTH1 break out and rebelious citizens @MONTH1 protest the censorship, causing an uproar in society.           The people would not be the only thing out of hand. The censorship would surely get out of hand, aswell. @CAPS1 are already being censored through news stations, radio, and tv shows. Libraries are a place where infinant knowledge is realistic and that is comforting for many @CAPS1. In libraries people choose what they learn: they aren't forced teachers or parents. The censorship @MONTH1 start out as a small intervention, but it could turn our nation upside down. Next thing we know, our desisions could be influenced by the books that only 'they' decide are suitable. What kind of society would we have then? Individuality would be lost and opinions would be forgotten.      Clearly, censorship in libraries is dangerous and unpredictable. If libraries were cencored, not only would  knowledge in the @LOCATION2 desinegrate, but libraries would lose their respect and threaten the future of @LOCATION1. No one tells me what to wear or say, so why should anyone tell me what to read? We are all entitled to our own opinions and beliefs. Our @CAPS4 @CAPS5 earned us our freedoms, we can not let censorship take them away

---------------------------------------------------------------------------
---------------------------------- (Set 3) --------------------------------

(Score: 1)  How the features of the setting affected the cyclist in the story, �Do Not Exceed Posted Limit�, were very dangerous to his life. The cyclist was traveling to the Yosemite National Park on a hot @DATE1. The cyclist traveled miles after miles on his bike only to past by deserted towns, �This place might have been thriving little spot...a ghost town.� The terrain was threatening because after twenty two miles or so, the cyclist had to overcome, �short rolling hills�, which would use more energy and make his thirst for water even stronger. The cyclist was out of water and the hot day was not helping. After a grueling journey, the cyclist used all the strength he had to go to a local bait shop and drank from the sink after the trechorous environment he was exposed to. The features of the setting in the story, �Do Not Exceed Posted Speed Limit� were life threatening and almost killed the cyclist, due to lack of water and the terrain he overcome.

---------------------------------------------------------------------------
---------------------------------- (Set 4) --------------------------------

(Score: 3)  The author concludes the story with �in the spring, when the snows melt and the geese return and this hibiscus is budding, then I will take that test again. She does this to show now Saeng is adapting and making decisions in her new country just like she did in her homeland. In Vietnam Saeng used to brush her grandmothers hair and help put it into a bun and put a hibiscus in it. That was one of her traditions with it. Also when she used to get water from the well a hibiscus would sometimes come up with the bucket. Both these thus the hibiscus was seen as a comfort object, now as she is in the states, she is trying to put it to good use, while also taking into account what repeats in the states. She notices that the geese come back in the spring and leave in the winter, and plants start to grow in the spring. By her taking the test again in the spring it is symbolizing that she is ready to start test just like the hibiscus that is going to bloom. The plant being potted in her garden and Saeng moving her both signify change, but a rembrance of old traditions, and a space for new.

---------------------------------------------------------------------------
---------------------------------- (Set 5) --------------------------------

(Score: 2)  In the memoir the mood created by the author I think was more of a serious, informative, and uplifting mood. The reason for why I think this is that the way his lifestyle is described as a happy and enjoyable life of also being able to talk about some serious topics like his culture and the diversity of the cultures of the poeple that live on the street. Also by how he feels so confortable with all the people that are in his apartment building and all the people that come to his house for dinner to call them family.

---------------------------------------------------------------------------
---------------------------------- (Set 6) --------------------------------

(Score: 3)  When attempting to allow dirigibles to dock at the Empire State Building, the builders had many obstacles to face. Most of the dirigibles used at the time were from countries other than @LOCATION1, so they used hydrogen instead of helium. Hydrogen is very flammable so if it caught on fire it would go down in a very populated area. Another obstacle was at that height, the wind was very strong and violent. When tethered to the mooring mast, the back of the dirigible would be caught by the wind and swing around the mooring mast. The last obstacle was there was a law stating that dirigibles can not fly too low over urban areas this made it impossible for a dirigible to ever come close to the building.

---------------------------------------------------------------------------
---------------------------------- (Set 7) --------------------------------

(Score: 11)  Patience can really help you in life some times it�s the only thing that can keep us sane. Patience is important. Just like how my dog ran away and I�m waiting for her to come back. Sometimes you'll get in a sitchation were your waiting for someone but there is always only one choice, to wait or be patient.

---------------------------------------------------------------------------
---------------------------------- (Set 8) --------------------------------

(Score: 33)   Someone once said,"Laughter is the shortest distance between two people." @CAPS1, to me that means, that since everyone laughs, laughter is the quickest or easiest way to connect with another person. I believe this because at one point in time my older brother and I did not get along very well. We were almost never around each other, and when we were,we would either be fighting or ignoring one another. It wasn't much of a problem since he is five years older; but once I became older my brother and I began to see one another more often. So we then decided to sit down one day and talk. We weren't exactly sure what to say; so for the first ten minutes we just sat there in silence. Just two guys on the back porch in the middle of the @TIME1. Then out of no were he fell over backwards into a bush. We both laughed harder than we have ever laughed in our lives. So @CAPS1, when my family get together, there isn't a lot of arguing or fighting and we all sit and tell stories and laugh.For my family and friends, laughter is one of the most important components of a relationship because, with laughter comes happiness, and with happiness comes love; and love is the most important component of life. So I say, "Laughter is the shortest distance between all people."

---------------------------------------------------------------------------

### Summary Statistics

In [55]:
for dataset in ['all', *essays_train['essay_set'].unique()]:
    data = essays_train if (dataset=='all') else essays_train[essays_train['essay_set']==dataset]
    
    word_tokens = set()  # lowercase only
    char_tokens = set()  # lowercase only
    sum_rev_len = 0
    for text in data['essay']:
        sum_rev_len += len(text)
        for token in re.split(r'\s{1,}', text):  word_tokens.add(token)
        for c in text:  char_tokens.add(c)
    print("------------- (Set {s}) --------------".format(s=dataset))
    print("# Essays:  ", len(data))
    print("# Unique words:  ", len(word_tokens))
    print("# Unique characters:  ", len(char_tokens))
    print("Average Essay Length:  ", sum_rev_len / len(data), "chars")
    print()

------------- (Set all) --------------
# Essays:   12978
# Unique words:   78395
# Unique characters:   101
Average Essay Length:   1215.6346894744952 chars

------------- (Set 1) --------------
# Essays:   1783
# Unique words:   27282
# Unique characters:   91
Average Essay Length:   2029.3337072349973 chars

------------- (Set 2) --------------
# Essays:   1800
# Unique words:   24810
# Unique characters:   86
Average Essay Length:   2097.027777777778 chars

------------- (Set 3) --------------
# Essays:   1726
# Unique words:   11074
# Unique characters:   80
Average Essay Length:   586.9038238702202 chars

------------- (Set 4) --------------
# Essays:   1772
# Unique words:   8339
# Unique characters:   84
Average Essay Length:   509.47968397291197 chars

------------- (Set 5) --------------
# Essays:   1805
# Unique words:   9118
# Unique characters:   82
Average Essay Length:   685.3468144044322 chars

------------- (Set 6) --------------
# Essays:   1800
# Unique words:   9729
# Unique characters:   85
Average Essay Length:   892.5322222222222 chars

------------- (Set 7) --------------
# Essays:   1569
# Unique words:   18324
# Unique characters:   92
Average Essay Length:   844.3760356915233 chars

------------- (Set 8) --------------
# Essays:   723
# Unique words:   23210
# Unique characters:   83
Average Essay Length:   3180.2572614107885 chars