# Dataset Overview (for Amazon Reviews, Essays)

In [73]:
import pandas as pd
import numpy as np
import re
import os

reviews_parent_dir = 'datasets/reviews/'
essays_parent_dir = 'datasets/asap-aes/'

def load_reviews(files=None, nrows_per_type=None):
    if not files:
        files = [f for f in os.listdir('datasets/reviews/') if f.split('.')[1]=='json']
    dfs = []
    for f in files:
        df = pd.read_json(reviews_parent_dir + f, lines=True, nrows=nrows_per_type)
        df['type'] = f.split('-')[0]
        dfs.append(df)
    return pd.concat(dfs).reset_index()

def load_essays(train=True, valid=True, test=True):
    files = []
    if train: files.append('train_set.json')
    if valid: files.append('valid_set.json')
    if test:  files.append('test_set.json')
    return (pd.read_json(essays_parent_dir + f, lines=False) for f in files)

# Amazon Reviews

In [74]:
reviews_data = load_reviews()

In [67]:
reviews_data.head()

,index,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,type
0,0,5,True,"08 22, 2013",A34A1UP40713F8,B00009W3I4,{'Style:': ' Dryer Vent'},James. Backus,I like this as a vent as well as something tha...,Great product,1377129600,NaN,NaN,appliances
1,1,5,True,"02 8, 2016",A1AHW6I678O6F2,B00009W3PA,{'Size:': ' 6-Foot'},kevin.,good item,Five Stars,1454889600,NaN,NaN,appliances
2,2,5,True,"08 5, 2015",A8R48NKTGCJDQ,B00009W3PA,{'Size:': ' 6-Foot'},CDBrannom,Fit my new LG dryer perfectly.,Five Stars,1438732800,NaN,NaN,appliances
3,3,5,True,"04 24, 2015",AR3OHHHW01A8E,B00009W3PA,{'Size:': ' 6-Foot'},Calvin E Reames,Good value for electric dryers,Perfect size,1429833600,NaN,NaN,appliances
4,4,5,True,"03 21, 2015",A2CIEGHZ7L1WWR,B00009W3PA,{'Size:': ' 6-Foot'},albert j. kong,Price and delivery was excellent.,Five Stars,1426896000,NaN,NaN,appliances

### Sample Reviews

In [75]:
# NOTE:  It appears that 'books' contains some reviews that regard remotes / chargers ...

def show_reviews(nsample=1):
    for group in reviews_data.groupby('type'):
        group = group[1].reset_index()
        print('---------------------------------- ({t}) --------------------------------'.format(t=group['type'][0]))
        for _, row in group.sample(n=nsample).iterrows():
            print('\n(Score: {s})  {r}\n'.format(s=row['overall'], r=row['reviewText']))
            print("---------------------------------------------------------------------------")

show_reviews(2)

---------------------------------- (appliances) --------------------------------

(Score: 5)  We have 24 foot of solid dryer vent pipe ending in 3 right-angles before going through the floor into the flexible dryer-vent hose coming from the dryer.  I can't get behind the dryer without moving both the washer and dryer and they are HEAVY.  So being lazy I decided to clean the vent from the outside of the house inward.  I didn't use a vacuum cleaner or a blower or suction of any kind.  I did tighten each section of tubing with pliers and taped them.  I threaded all 24 foot of tubing with the brush on the end into the outside vent and then backed it out.  I got a good amount of lint clods out.  Then I turned on the dryer to blow everything out.  I got no air coming out at all.  My fear had come true, I had forced gobs of lint into the right-angles at the end of the run.  I still didn't want to move that washer and dryer so I figured I'd try one other thing, use the clodbuster attachment.  Now I'm really getting lazy so I tightened each tubing section by hand (no pliers) and didn't use tape.  I pushed all 24 foot of tubing into the vent until I hit some resistance and then turned the tubing by hand (too lazy to hook the drill up).  Then I pulled it all out and there wasn't any lint at all that came out. So now I'm resigned to having to move the washer and dryer, but before I do I figured I might as well turn the dryer on and see what happens.  Lots of lint clods blew out and kept coming out for about 20 seconds.  I've attached pictures of it.  I'm really happy with this product and if it worked for me with all the shortcuts I took it will probably work great for you.  As a point of reference we built this house five years ago and this is the first time I ever cleaned the vent.  A load of ten bath towels used to take 45 minutes to dry, lately it's been taking 3 to 4 hours, so I knew I couldn't put cleaning the pipe off any longer.

---------------------------------------------------------------------------

(Score: 3)  first thing first: it works. the kit is great in what it consists of and the price is just right i think. to call someone to clean my dryer vents i got quoted from 80 all the way up to 200 bucks. so if you were able to do it yourself you will need to invest a bit more in a "construction" vacuum that cost about 80-100 bucks and start the savings basically from the second time you do it.

so whats with the 3*? my brush broke inside my vent!!!! while i was pulling it out, and yes i was using a drill, all the pieces came out except the round brush. i had to climb to my attic and push it from the other side to come out... what was supposed to be an easy task ended up with me spending over an hour extra in climbing in my attic, disassembling the HVAC pipe so that i can get in there and push down on the brush...

another minus for this kit is that while it is fairly bendy, it will not go very smoothly through your flexible insulated pipes and most likely push the pipe out from its connector.

with all that said, if your vent duct doesnt have to many bends, and you want to take the risk (maybe i had a defective kit that the brush broke), you might save a lot of money doing it yourself!

---------------------------------------------------------------------------
---------------------------------- (arts_crafts_and_sewing) --------------------------------

(Score: 5)  Sharp and stout, works very well.

---------------------------------------------------------------------------

(Score: 5)  I got this paper for large Christmas presents, and it works PERFECT for it. Depending on what is underneath, you may need to wrap it twice around; but nonetheless I've been using my first roll for TWO YEARS and I am just coming up to order a second one because the first is getting low.

It rolls out nicely, the variety of colors is top notch, and the price is SO nice, especially when you compare it to wrapping paper! I love pairing this light blue with red and white candy cane ribbons and bows... it's so festive!  It's super easy to cut, just like quality wrapping paper.  Definitely recommend this over regular wrapping paper, especially when it comes to large presents!

---------------------------------------------------------------------------
---------------------------------- (automotive) --------------------------------

(Score: 4)  Use to polish my aluminum airplane. Works good with the "Nuvite" products and with the Porter Cable random orbit sander, gets into tight places

---------------------------------------------------------------------------

(Score: 2)  Just as I thought...it tells you how to rebuild the transmission, differential and engine (who is going to do that??) it does not tell you how to do some of the things you are actually going to attempt in your garage.

---------------------------------------------------------------------------
---------------------------------- (books) --------------------------------

(Score: 4)  Enjoyed more than the previous one

---------------------------------------------------------------------------

(Score: 5)  This works perfectly with my 65" Vizio.

---------------------------------------------------------------------------
---------------------------------- (cellphones_and_accessories) --------------------------------

(Score: 2)  I owned this for a few weeks and found that it was a bit uncomfortable when wearing for more than a few minutes.

Also, when using in the car, the person on the other end had a very hard time hearing me due to all the background noise (even with the windows closed and radio off, of course).

I do, however, like the little battery charger and clip that comes with it -- it made it easier to carry around (ie. you could clip it to your briefcase, belt, or phone holder).

I sold it at auction and bought the 510, and it seems a bit more comfortable, and also produces less background noise in the car.  however its a bit bulkier.

---------------------------------------------------------------------------

(Score: 4)  I have had several headsets, and this one has lastest longer than any of them.  It holds a charge for a long time, whereas the other ones would die sooner.

Good sound quality, comfortable fit.  Although the microphone extends as a boom, I never use it extended.  The quality and comfort are just fine without it extended.

---------------------------------------------------------------------------
---------------------------------- (clothing_shoes_and_jewelry) --------------------------------

(Score: 1)  This costume is very cheaply made.  The back is solid light pink and is very see-through.  The wig leaves much to be desired. Don't waste your money.

---------------------------------------------------------------------------

(Score: 5)  I purchased this for my 4 year old's witch costume. It's a great height for a child and the straw bristles are great. Yes, they are a tad sparse but this item is under $9 so what does everyone expect?? (other bad reviews) It's a costume prop. Very much worth the money. I would recommend. I did not have any problems with bristles falling off. They seem sturdy enough for a costume. I'm happy I took a chance on this because it will make the perfect addition to my daughter's costume:

---------------------------------------------------------------------------
---------------------------------- (fashion) --------------------------------

(Score: 5)  Size really depends on the brand.  I wear a 6.5 in Nike and they fit me perfectly.  These shoes are comfortable, they wrap around my feet like a bandage but do not restrict movement.

---------------------------------------------------------------------------

(Score: 3)  No arch support but l love the colors!

---------------------------------------------------------------------------
---------------------------------- (home_and_kitchen) --------------------------------

(Score: 3)  Didn't care for the facial painting

---------------------------------------------------------------------------

(Score: 5)  I have had this one for several years and still going strong.

---------------------------------------------------------------------------
---------------------------------- (movies_and_tv) --------------------------------

(Score: 5)  This movie was my favorite as a kid and now, as an adult. I was watching again today and realized that the Burgermeister is really my sister. LOL Who knew?

---------------------------------------------------------------------------

(Score: 5)  I started reading this book last week and decided to rent the movie. They only had this version of Jane Eyre and was hesitant to watch it because I had never heard of the actors before. As the movie started I noticed that  it skipped the beginning of the book (began at the red-room incident)and  spent more time towards Jane Eyre as an adult. When I first saw Ciaran  Hinds (Mr. Rochester) I thought - this man isn't very attractive and he is  really mean!  Jane Eyre will never fall for him! But, Mr. Hinds played the  role wonderfully and even I looked beyond his roughness and fell inlove  with the character!  Samantha Morton played a wonderful Jane Eyre and I  really felt the chemistry between the two throughout the movie.  I think my  favorite scene was when he was waiting for Jane to get back from preparing  for her aunts funeral and was very jealous.  And the ending made me cry!  I  later rented a different version of Jane Eyre with William Hurt in it, and  disliked it very much.  There was no chemistry between the lead actors and  I was glad that I rented this version first!

---------------------------------------------------------------------------
---------------------------------- (office_products) --------------------------------

(Score: 5)  great price and item.
reordered and are out of stock
wish I could still get them,

---------------------------------------------------------------------------

(Score: 5)  Gift idea for those that love reading and still likes to have the actual book.

---------------------------------------------------------------------------
---------------------------------- (pet_supplies) --------------------------------

(Score: 5)  This toy was so much fun! My dog leaned quickly how to make it say "Oh Noo" and just loved pressing it. The sound did go out after a few weeks, but I think that's because my dog likes to chew, but he still plays with it and it's still all together.

Great toy! Would definitely recommend for a pet lovers gift

---------------------------------------------------------------------------

(Score: 3)  Didn't last long

---------------------------------------------------------------------------
---------------------------------- (sports_and_outdoors) --------------------------------

(Score: 4)  Ordered this set a couple weeks back and my wife and I both love this set to supplement our weight training.  Would give 5 stars if BMP made a fore foot cover with attached D ring for dorsiflexion (calf raises), but or now the ankle strap will suffice.  Very well made and the carabiners are very handy for quick changes.

---------------------------------------------------------------------------

(Score: 5)  fun in pool and water

---------------------------------------------------------------------------
---------------------------------- (tools_and_home_improvement) --------------------------------

(Score: 5)  Big upgrade over the basic edge guide. It allows for more precise accuracy and better stability.

---------------------------------------------------------------------------

(Score: 5)  so it holds the bit.  My last collet got scratched or bent or something.  It wouldn't grip correctly and the bit would work its way up and down while cutting.  Aside from a bad cut it was dangerous.  This one does what the other used to do.  It holds the bit like it is supposed to.  Plus I like the retaining ring to hold the nut to the collet.  Makes it easier to change the collet size all at once, no finding parts and such.

---------------------------------------------------------------------------
---------------------------------- (video_games) --------------------------------

(Score: 5)  Fantastic condition!

---------------------------------------------------------------------------

(Score: 5)  This worked great for my needs, my kids are able to have all their games hooked up.  Easy to connect and set up.

---------------------------------------------------------------------------

### Summary Statistics

In [95]:
LEFT_ADJUST = 28

for dataset in ['all', *reviews_data['type'].unique()]:
    data = reviews_data if (dataset=='all') else reviews_data[reviews_data['type']==dataset]
    
    word_tokens = set()  # lowercase only
    char_tokens = set()  # lowercase only
    sum_rev_len = 0
    for text in data['reviewText']:
        if type(text) == str:
            sum_rev_len += len(text)
            for token in re.split(r'\s{1,}', text):  word_tokens.add(token)
            for c in text:  char_tokens.add(c)
    print("------------- ({s}) --------------".format(s=dataset))
    print("# Reviews:  ", len(data))
    print("# Unique words:  ", len(word_tokens))
    print("# Unique characters:  ", len(char_tokens))
    print("Average Review Length:  ", np.round_(sum_rev_len / len(data), 2), "chars")
    print("Average Overall Rating:  ", np.round_(data['overall'].mean(), 2))
    print()
print()
print("------------------- Score Summaries -------------------")
print((" "*LEFT_ADJUST + "\tavg rating\tmax\tmin\n"))
for group in reviews_data.groupby('type'):
    df = group[1]
    print(group[0].ljust(LEFT_ADJUST) + "\t{avg}\t{mx}\t{mn}".format(
        avg=np.round_(df['overall'].mean(), 8),
        mn=df['overall'].max(),
        mx=df['overall'].min()
    ))
print()
print("Possible values for 'overall':\t", sorted(reviews_data['overall'].unique()))

------------- (all) --------------
# Reviews:   41290
# Unique words:   111034
# Unique characters:   98
Average Review Length:   381.81 chars
Average Overall Rating:   4.37

------------- (appliances) --------------
# Reviews:   2277
# Unique words:   1986
# Unique characters:   87
Average Review Length:   1481.95 chars
Average Overall Rating:   4.5

------------- (arts_crafts_and_sewing) --------------
# Reviews:   3001
# Unique words:   13254
# Unique characters:   91
Average Review Length:   207.92 chars
Average Overall Rating:   4.57

------------- (automotive) --------------
# Reviews:   3001
# Unique words:   15773
# Unique characters:   93
Average Review Length:   244.68 chars
Average Overall Rating:   4.34

------------- (books) --------------
# Reviews:   3001
# Unique words:   23091
# Unique characters:   92
Average Review Length:   429.42 chars
Average Overall Rating:   4.21

------------- (cellphones_and_accessories) --------------
# Reviews:   3001
# Unique words:   24945
# Unique characters:   93
Average Review Length:   529.87 chars
Average Overall Rating:   3.89

------------- (clothing_shoes_and_jewelry) --------------
# Reviews:   3001
# Unique words:   11051
# Unique characters:   91
Average Review Length:   168.8 chars
Average Overall Rating:   4.17

------------- (fashion) --------------
# Reviews:   3001
# Unique words:   2282
# Unique characters:   80
Average Review Length:   130.35 chars
Average Overall Rating:   4.4

------------- (home_and_kitchen) --------------
# Reviews:   3001
# Unique words:   16588
# Unique characters:   94
Average Review Length:   252.47 chars
Average Overall Rating:   4.41

------------- (movies_and_tv) --------------
# Reviews:   3001
# Unique words:   28987
# Unique characters:   92
Average Review Length:   445.91 chars
Average Overall Rating:   4.41

------------- (office_products) --------------
# Reviews:   3001
# Unique words:   15169
# Unique characters:   91
Average Review Length:   233.52 chars
Average Overall Rating:   4.59

------------- (pet_supplies) --------------
# Reviews:   3001
# Unique words:   15412
# Unique characters:   95
Average Review Length:   288.55 chars
Average Overall Rating:   4.29

------------- (sports_and_outdoors) --------------
# Reviews:   3001
# Unique words:   15035
# Unique characters:   91
Average Review Length:   258.44 chars
Average Overall Rating:   4.51

------------- (tools_and_home_improvement) --------------
# Reviews:   3001
# Unique words:   15880
# Unique characters:   94
Average Review Length:   301.82 chars
Average Overall Rating:   4.5

------------- (video_games) --------------
# Reviews:   3001
# Unique words:   32284
# Unique characters:   97
Average Review Length:   637.01 chars
Average Overall Rating:   4.42


------------------- Score Summaries -------------------
                            	avg rating	max	min

appliances                  	4.49978041	1	5
arts_crafts_and_sewing      	4.56981006	1	5
automotive                  	4.33755415	1	5
books                       	4.20759747	1	5
cellphones_and_accessories  	3.89203599	1	5
clothing_shoes_and_jewelry  	4.17227591	1	5
fashion                     	4.39886704	1	5
home_and_kitchen            	4.41452849	1	5
movies_and_tv               	4.40753082	1	5
office_products             	4.59380207	1	5
pet_supplies                	4.29223592	1	5
sports_and_outdoors         	4.50516495	1	5
tools_and_home_improvement  	4.50016661	1	5
video_games                 	4.42485838	1	5

Possible values for 'overall':	 [1, 2, 3, 4, 5]

# Essays

This dataset contains 8 different essay sets, each associated with a particular prompt.
* Personally identifying information has been replaced with NER (Named Entity Recognition) tags [Ex: "Person", "Organization", etc.]

## Loading (and cleaning) Data

* All of the score columns were of datatype ('object'), and missing values were ('').

 **Steps for Cleaning Data:**
 
   1) Replace '' with nans (NULLs)
 
   2) Convert score columns to int64

In [99]:
essays_train, essays_valid, essays_test = load_essays()  # (train, valid, test)

for df in [essays_train, essays_valid, essays_test]:
    df.replace('', np.nan, inplace=True)
    for col in (c for c in df.columns if c not in ['essay_id', 'essay_set', 'essay']):
        df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

### Train:

In [97]:
essays_train.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4,4,<NA>,8,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,<NA>,9,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,<NA>,7,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,<NA>,10,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,5,1,"Dear @LOCATION1, I know having computers has a...",4,4,<NA>,8,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

### Valid:

In [10]:
essays_valid.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,

### Test:

In [11]:
essays_test.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,2383,1.0,I believe that computers have a positive effec...,2383.0,
1,2384,1.0,"Dear @CAPS1, I know some problems have came up...",2384.0,
2,2385,1.0,"Dear to whom it @MONTH1 concern, Computers are...",2385.0,
3,2386,1.0,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386.0,
4,2387,1.0,"Dear Local newspaper, I think that people have...",2387.0,

### Ratings Overview (Train)

In [95]:
score_columns = [c for c in essays_train.columns if c not in ['essay_id', 'essay_set', 'essay']]
essays_train[score_columns].describe()

,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,rater1_trait2,rater1_trait3,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
count,12977.000000,12977.000000,128.000000,12977.000000,1800.000000,1800.000000,1800.000000,2292.000000,2292.000000,2292.000000,...,2292.000000,2292.000000,723.000000,723.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,4.126840,4.137089,37.828125,6.799723,3.333889,3.330556,3.333889,2.444154,2.557592,2.606457,...,2.635689,2.710297,3.777317,3.589212,3.945312,3.890625,4.078125,3.992188,3.843750,3.617188
std,4.212537,4.264320,5.240829,8.970558,0.729103,0.726807,0.729103,1.211730,1.061076,1.098196,...,1.142566,1.045795,0.689401,0.693256,0.643668,0.630390,0.622535,0.509687,0.538845,0.603417
min,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,2.000000,2.000000,36.000000,2.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000
50%,3.000000,3.000000,40.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,...,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,4.000000,4.000000,40.000000,8.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,...,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,30.000000,30.000000,50.000000,60.000000,4.000000,4.000000,4.000000,6.000000,6.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,5.000000

### Ratings Overview (by Group)

In [101]:
score_columns = [c for c in essays_train.columns if c not in ['essay_id', 'essay']]
metrics = ['count', 'mean', 'min', 'max']
op_dict = {
    'count': lambda x: x.astype(int),
    'min': lambda x: x.astype(int),
    'max': lambda x: x.astype(int),
    'mean': lambda x: np.round_(x, 2)
}
def reformat(x, metric):
    x = np.array(x)
    return "None" if pd.isnull(x) else op_dict[metric](x)

print("\t\t\tSet 1\t Set 2\t Set 3\t Set 4\t Set 5\t Set 6\t Set 7\t Set 8")
print("\t\t\t---------------------------------------------------------------")
current_column = None
df = essays_train[score_columns].groupby('essay_set').describe()
for entry in df:
    if current_column != entry[0]:
        print()
        current_column = entry[0]
    if entry[1] in metrics:
        score_params = {'s'+str(set_id): reformat(df[entry][set_id], entry[1]) for set_id in range(1, 9)}
        print(("{t} ({m}):\t{s1} \t{s2} \t{s3} \t{s4} \t{s5} \t{s6} \t{s7} \t{s8}").format(
            t=entry[0], m=entry[1], **score_params))
        
# NOTE:  'count' is how many non-NULL rows
        
# -------------------- OBSERVATIONS --------------------
#
# -  All Sets Have:   'rater1_domain1', 'rater2_domain1', and 'domain1_score'
# -  Set 8 has all scores except in domain 2
#
#    Given that only these three columns ('rater1_domain1', 'rater2_domain1', 'domain1_score') have values in every
#    set category, it's best to choose the column relating to the overall score among these three ('domain1_score')
#    as the score we'll use for our label.

			Set 1	 Set 2	 Set 3	 Set 4	 Set 5	 Set 6	 Set 7	 Set 8
			---------------------------------------------------------------

rater1_domain1 (count):	1783 	1800 	1726 	1771 	1805 	1800 	1569 	723
rater1_domain1 (mean):	4.26 	3.42 	1.74 	1.32 	2.22 	2.56 	8.02 	18.34
rater1_domain1 (min):	1 	1 	0 	0 	0 	0 	0 	5
rater1_domain1 (max):	6 	6 	3 	3 	4 	4 	12 	30

rater2_domain1 (count):	1783 	1800 	1726 	1771 	1805 	1800 	1569 	723
rater2_domain1 (mean):	4.27 	3.44 	1.7 	1.32 	2.22 	2.55 	8.04 	18.56
rater2_domain1 (min):	1 	1 	0 	0 	0 	0 	0 	5
rater2_domain1 (max):	6 	6 	3 	3 	4 	4 	12 	30

rater3_domain1 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_domain1 (mean):	None 	None 	None 	None 	None 	None 	None 	37.83
rater3_domain1 (min):	None 	None 	None 	None 	None 	None 	None 	20
rater3_domain1 (max):	None 	None 	None 	None 	None 	None 	None 	50

domain1_score (count):	1783 	1800 	1726 	1771 	1805 	1800 	1569 	723
domain1_score (mean):	8.53 	3.42 	1.85 	1.43 	2.41 	2.72 	16.06 	36.95
domain1_score (min):	2 	1 	0 	0 	0 	0 	2 	10
domain1_score (max):	12 	6 	3 	3 	4 	4 	24 	60

rater1_domain2 (count):	0 	1800 	0 	0 	0 	0 	0 	0
rater1_domain2 (mean):	None 	3.33 	None 	None 	None 	None 	None 	None
rater1_domain2 (min):	None 	1 	None 	None 	None 	None 	None 	None
rater1_domain2 (max):	None 	4 	None 	None 	None 	None 	None 	None

rater2_domain2 (count):	0 	1800 	0 	0 	0 	0 	0 	0
rater2_domain2 (mean):	None 	3.33 	None 	None 	None 	None 	None 	None
rater2_domain2 (min):	None 	1 	None 	None 	None 	None 	None 	None
rater2_domain2 (max):	None 	4 	None 	None 	None 	None 	None 	None

domain2_score (count):	0 	1800 	0 	0 	0 	0 	0 	0
domain2_score (mean):	None 	3.33 	None 	None 	None 	None 	None 	None
domain2_score (min):	None 	1 	None 	None 	None 	None 	None 	None
domain2_score (max):	None 	4 	None 	None 	None 	None 	None 	None

rater1_trait1 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait1 (mean):	None 	None 	None 	None 	None 	None 	1.84 	3.76
rater1_trait1 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait1 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait2 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait2 (mean):	None 	None 	None 	None 	None 	None 	2.02 	3.72
rater1_trait2 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait2 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait3 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait3 (mean):	None 	None 	None 	None 	None 	None 	1.99 	3.94
rater1_trait3 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait3 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait4 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater1_trait4 (mean):	None 	None 	None 	None 	None 	None 	2.17 	3.86
rater1_trait4 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater1_trait4 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater1_trait5 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater1_trait5 (mean):	None 	None 	None 	None 	None 	None 	None 	3.73
rater1_trait5 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater1_trait5 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater1_trait6 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater1_trait6 (mean):	None 	None 	None 	None 	None 	None 	None 	3.56
rater1_trait6 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater1_trait6 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater2_trait1 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait1 (mean):	None 	None 	None 	None 	None 	None 	1.85 	3.83
rater2_trait1 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait1 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait2 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait2 (mean):	None 	None 	None 	None 	None 	None 	2.03 	3.77
rater2_trait2 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait2 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait3 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait3 (mean):	None 	None 	None 	None 	None 	None 	2.0 	4.02
rater2_trait3 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait3 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait4 (count):	0 	0 	0 	0 	0 	0 	1569 	723
rater2_trait4 (mean):	None 	None 	None 	None 	None 	None 	2.17 	3.89
rater2_trait4 (min):	None 	None 	None 	None 	None 	None 	0 	1
rater2_trait4 (max):	None 	None 	None 	None 	None 	None 	3 	6

rater2_trait5 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater2_trait5 (mean):	None 	None 	None 	None 	None 	None 	None 	3.78
rater2_trait5 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater2_trait5 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater2_trait6 (count):	0 	0 	0 	0 	0 	0 	0 	723
rater2_trait6 (mean):	None 	None 	None 	None 	None 	None 	None 	3.59
rater2_trait6 (min):	None 	None 	None 	None 	None 	None 	None 	1
rater2_trait6 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait1 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait1 (mean):	None 	None 	None 	None 	None 	None 	None 	3.95
rater3_trait1 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait1 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait2 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait2 (mean):	None 	None 	None 	None 	None 	None 	None 	3.89
rater3_trait2 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait2 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait3 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait3 (mean):	None 	None 	None 	None 	None 	None 	None 	4.08
rater3_trait3 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait3 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait4 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait4 (mean):	None 	None 	None 	None 	None 	None 	None 	3.99
rater3_trait4 (min):	None 	None 	None 	None 	None 	None 	None 	3
rater3_trait4 (max):	None 	None 	None 	None 	None 	None 	None 	6

rater3_trait5 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait5 (mean):	None 	None 	None 	None 	None 	None 	None 	3.84
rater3_trait5 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait5 (max):	None 	None 	None 	None 	None 	None 	None 	5

rater3_trait6 (count):	0 	0 	0 	0 	0 	0 	0 	128
rater3_trait6 (mean):	None 	None 	None 	None 	None 	None 	None 	3.62
rater3_trait6 (min):	None 	None 	None 	None 	None 	None 	None 	2
rater3_trait6 (max):	None 	None 	None 	None 	None 	None 	None 	5

### Sample Essays:

In [102]:
def show_essays(nsample=1, exclude=None):
    if not exclude: exclude = []
    for group in essays_train.groupby('essay_set'):
        group = group[1].reset_index()
        if not group['essay_set'][0] in exclude:
            print('---------------------------------- (Set {t}) --------------------------------'.format(t=group['essay_set'][0]))
            for _, row in group.sample(n=nsample).iterrows():
                score = row['domain1_score']
                print('\n(Score: {s})  {r}\n'.format(s=score, r=row['essay']))
                print("---------------------------------------------------------------------------")
                
show_essays()

---------------------------------- (Set 1) --------------------------------

(Score: 11)  Dear @LOCATION1, @CAPS1 you imagine where the world would be without computers? Our daily lives would be dull and boring without new technology. Computers help society do various activities that would be impossible if we didn't have computers. They give us the ability to learn at home, connect with other people, and give a source of entertainment. From these reasons our lives because easy and convenient, which is what @CAPS2 people strive to accomplish. The ability for an average person to learn has greatly increased. It has gone from just being able to go to school to the @CAPS2 various ways to increase your intelligence on the computer. Programs such as @ORGANIZATION1, which teaches people how to speak a language, are available on the computer. These programs are like going to school, but more accesible to the public. To further help the public, there are ways to gain college degrees online. that how . Even if you go to school a computer @CAPS1 still help you excel in you work @CAPS2 sources of research are available on the computer and you like to the web a computer is a great place for fun. However, people still think computers are good. They claim to gaining on the other hand, the computer gives people website to help lose weight.They also say people aren't enjoying nature, even though there are @CAPS2 ways to appreciate on the computer. Lastly, it is stated that you dont . To conclude, computers greatly benefit us and are good. New technology is good thing and should keep expanding because of gaining the ability to , conncet with people and having fun, a computer helps the general public. Please, think of what i have said and buy a computer!

---------------------------------------------------------------------------
---------------------------------- (Set 2) --------------------------------

(Score: 3)  Censorship in Libraries     Censorship in libraries is a big problem in today's society, many people get angry at libraries and markets because of the items that they have on display for the common consumer. If the consumer walks into a library and is looking for a book to read. What if they come accross a book from the early @DATE1's? In these times there were lots of words used that are 'harmful' to our people today, but what most people dont understand is that, these words that are harmful had different meanings in that time in history. So when someone picks up a book and finds harmful or un-appropriate words or phrases in them, they instantly get the wrong idea about the book. And then, this small group of people who dont like this piece of literature, go agains the vast majority of people who really do understand the literature, and the feeling and dialect of the book. That is where i am going to explain to this small group of people, a few details that they should keep in mind when trying to rip a book off of the shelf and throwing it away.     When someone goes into a store or library and starts to look for a book, they @MONTH1 come accross a piece of literature that they dont completely agree with. When this person comes across this piece of literature, all they have to do is put it back on the shelf and move on. Nobody is forcing that person to read this book, so why make a big deal about it?  Because most people who make a big deal about some of the word usage in a book, dont quite understand the dialect of the book, or the time period the book was written in. If you do not understand the literature completely, then i ask that these people do not make a big scene out of it, and that they dont try to revoke the author's rights to have that piece of literature on the shelf.          Authors have just as many rights as we do. If they write literature. A poem, novel, or even a short story, these authors have the right to have it published and put on the shelf. So why would we not have the same rights? If we dont agree with some of the literature that are being placed in our society's schools, stores, and homes. Then we can write a novel, newspaper article, or even make a website about your topic. You can make web polls much more. This is a more indirect approach to removing a piece of literature. If you want to have a better chance of this book or novel to be removed from the shelves, you can use a poll or have people vote, to recieve other people's oppinions, and use these in your argument. If you have more than one oppinion on a subject, you @MONTH1 have a more likely chance of winning your argument. And this will cause a lot less chaos and attention to be drawn to yourself and others around you.     Another reason why i dont think that people should be able to choose what is on the shelves of libraries everywhere. I do not think that anybody from anywhere shoudl be able to come into a library and take a piece of literature off of the shelves forever. Because, in todays society, we have researchers going all of the time, and we have so many people working on different theories and laws. So if we take one important book off of the shelf, maybe a book written in the @DATE2's about evolution. And we get rid of all of these books, what will happen when we really need that information? These scientists @MONTH1 need that piece of literature to test a theory, and if that piece of literature is expelled from the shelves, then we could miss out on a large variety of major information that could help out someone in the future. So the more information we take off of the shelves, the less we will have in the future to help us will our problems.     So, now that i have told you all of my opinions on this subject, i hope that you will have a better view on the cencorship of libraries everywhere. And that maybe someday all books and pieces of literature will be able to remain on the shelves, being endlessly read by consumers

---------------------------------------------------------------------------
---------------------------------- (Set 3) --------------------------------

(Score: 3)  The cyclist in �Do Not Exceed Posted Speed @CAPS1� was riding through the California dessert in June. This dry, bare setting made it impossible to find any source of water. The only time that this cyclist found water was when it @NUM1 and tasting of battery acid. There was nowhere for him to find water for miles. This lack of water and scorching heat made him travel slow and wearily. He even says that he could only go 12 mph in a 55 mph zone. By taking the advise of the old men and taking a �short cut�, the cyclist past through ghost towns with no water. This �short cut� prolonged his trip, most likely by hours If he had gone through populated area despite the fact that it is a longer path, there would have been more water to drink, which would allow him to go faster. The dry, hot setting of the old men�s �short cut� made this cyclist�s trip last much longer than nessiarry.

---------------------------------------------------------------------------
---------------------------------- (Set 4) --------------------------------

(Score: 3)  In the �passage winter Hibiscus� by monfong Ho, the quote � when they come back, Saeng vowed silently, in the spring, when the snows melt and the geese return and the hibiscus is budding, I will take the test again, it symbolizes @CAPS1 new journey in the new country she lives in. In the test Saeng is having a personal discrepancy, missing her homeland @CAPS2 she states �I � failed the test.� This test meant more to then she just failing. She was a test to her ability to function in her new country and she failed. The � when they came back�� quote started above can be analyzed deeply as the snow being her obstacles and the hibiscus being herself. When the obstacles melt away and she buds into a new stronger person she will take the test again.

---------------------------------------------------------------------------
---------------------------------- (Set 5) --------------------------------

(Score: 2)  So the mood of this memoir is @CAPS1, Struggle or not so good and @CAPS2. In the @CAPS3 it telling you all about His parent and alot more about His parent's. Next is talk about Being born in a simple house and that way @CAPS1 mood there to. So @CAPS4 the end of the memoire @CAPS5 startes to talk about the @CAPS6 things like not Be able to find the kind or jod they deserved and that not that much @CAPS6 thing @CAPS5 talk But But in the end @CAPS5 @CAPS10 the definition of @CAPS11 and that mood is alsome. Then @CAPS5 learne there about love in the simple house and to never forgot how my Parents turned the simple house to a home. So the mood is a mix of @CAPS1, @CAPS6 time's and the alsomeness and more.

---------------------------------------------------------------------------
---------------------------------- (Set 6) --------------------------------

(Score: 3)  The invention of the mass on top of the Empire State Building was an undeveloped idea that created created a new means of transportation but arrive with numerous flaws. One obstacle the engineers faced was resting a one thousand foot dirigible over a twelve hundred fifty foot building because with combined wind pressure this would put stress on the building's structure and allow it to collapse. This transportation was also extremely dangerous to the public because many foreign dirigibles "used hydrogen rather than helium, and hydrogen is highly flammable (paragraph @NUM1)." Not only this, if builders ever allowed dirigible's to dock on the building, the back of the airship would spin around the mooring mast due to shifting violent air currents as stated in paragraph @NUM2. In paragraph @NUM3, it says that an existing law would prohibit airships flying too low over urban areas. This law made docking dirigibles atop of the Empire State Building illegal because dirigibles would be above the people which was against the laws. All of these obstacles made the transportations a failure and as a result the use of the mast had disappeared.

---------------------------------------------------------------------------
---------------------------------- (Set 7) --------------------------------

(Score: 17)  Being patient is a wonderful thing to be. Here is example of me being patient for my birthday. My birthday was coming and I was extremly happy. I would always backtrack of my days so I had a personal calendar for counting down to it. After that I made lots of birthday lists. I went to stores to see what they had. For an example, I saw this beautiful short that had a matching belt.  @NUM1 days before my birthday I would not eat. I also went to @LOCATION1 and check out all the wonderful cakes. The day came and we went shopping for all the stuff I wanted. I conclude  ??? I was patient.

---------------------------------------------------------------------------
---------------------------------- (Set 8) --------------------------------

(Score: 24)  One day me and my friend taylor got the idea on a snow day to get his quad and tie a rope to the back he was drifting around a post he didnt see the hill and i was on the back on a slead and i flew over the quad and got about @NUM1 feet high then crashed it hurt but it was so funny we both couldnt stop laughing for ten min.then we went back to his creek it was frozen about @NUM2 inch thick then i was drven the quad and he was in the back i was driving along the bank and he was on the ice then it started to crack so i went faster so he didnt fall in then after about two min the ice cracked and he went under then i got him out and i drove as fast as the quad could go and got back to his house he changed and then he just sat there and laughted for hours about what we both did.

---------------------------------------------------------------------------

### Summary Statistics

In [105]:
for dataset in ['all', *essays_train['essay_set'].unique()]:
    data = essays_train if (dataset=='all') else essays_train[essays_train['essay_set']==dataset]
    
    word_tokens = set()  # lowercase only
    char_tokens = set()  # lowercase only
    sum_rev_len = 0
    for text in data['essay']:
        sum_rev_len += len(text)
        for token in re.split(r'\s{1,}', text):  word_tokens.add(token)
        for c in text:  char_tokens.add(c)
    print("------------- (Set {s}) --------------".format(s=dataset))
    print("# Essays:  ", len(data))
    print("# Unique words:  ", len(word_tokens))
    print("# Unique characters:  ", len(char_tokens))
    print("Average Essay Length:  ", np.round_(sum_rev_len / len(data), 2), "chars")
    print()

------------- (Set all) --------------
# Essays:   12978
# Unique words:   78395
# Unique characters:   101
Average Essay Length:   1215.63 chars

------------- (Set 1) --------------
# Essays:   1783
# Unique words:   27282
# Unique characters:   91
Average Essay Length:   2029.33 chars

------------- (Set 2) --------------
# Essays:   1800
# Unique words:   24810
# Unique characters:   86
Average Essay Length:   2097.03 chars

------------- (Set 3) --------------
# Essays:   1726
# Unique words:   11074
# Unique characters:   80
Average Essay Length:   586.9 chars

------------- (Set 4) --------------
# Essays:   1772
# Unique words:   8339
# Unique characters:   84
Average Essay Length:   509.48 chars

------------- (Set 5) --------------
# Essays:   1805
# Unique words:   9118
# Unique characters:   82
Average Essay Length:   685.35 chars

------------- (Set 6) --------------
# Essays:   1800
# Unique words:   9729
# Unique characters:   85
Average Essay Length:   892.53 chars

------------- (Set 7) --------------
# Essays:   1569
# Unique words:   18324
# Unique characters:   92
Average Essay Length:   844.38 chars

------------- (Set 8) --------------
# Essays:   723
# Unique words:   23210
# Unique characters:   83
Average Essay Length:   3180.26 chars